:root {
    background-color: rgba(16, 63, 134, 0.795);
    color: rgba(255, 255, 255, 0.678);
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    text-align: center;
}
.responsive {
    max-width: 100%;
    max-height: 80%;
}

audio {
    width:80%;
}

h1 {
    /* margin: auto; */
    font-size: 3em;
}

hr {

    /* Gradient transparent - color - transparent */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul, li {
    padding: .4rem;
    /* margin: 20px 20px; */
    list-style-type: none;
}

#section-2 img {
    border-radius: 50%;
    /* margin: 200px; */
}

